@media screen and (min-width: 640px) {
    
    /*------General-------*/

    /*------HEADER-------*/
    header{
        grid-template-columns: 24px auto auto 44px;
    }

    header img{
        grid-column: 1/2;
    }



    .theme{
        grid-column: 4/5;
    }

    /*------NAVIGATION-------*/
    .navigation{
        grid-column: 3/4;
        grid-row: 1/2;
        font-weight: 700;
    }

    /*------HAMBURGER-------*/

    .hamburger{
        display: none;
    }

    .navigation {
        display: inline-block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    /*------FOOTER-------*/
    footer{
        display:flex;
        justify-content: space-around;
        column-gap: 10px;
    }
}