/* ---------------HAMBURGER-------------------- */
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}


/* ---------------FOOTER-------------------- */

/* footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
} */

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 8px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
    
}
