:root{
    --Primary-color: #000A3E;
    --Secondary-color: #00afe5;
    --Background-color: rgb(225, 221, 221);
    --Text-color: white;
    --Font-family: "Zalando Sans", sans-serif;
}

*{
    box-sizing: border-box;
    font-family: var(--Font-family);
}

/* ---------------HEADER----------------------- */
header{
    display: grid;
    grid-template-columns: 35px auto 44px 44px;
    align-items: center;
    padding: 5px 0 0px 5px;
    border-bottom: solid 1px grey;
    column-gap: 5px;
    background-color: var(--Primary-color);
    color: var(--Text-color);
}

header img{
    display: block;
    width: 100%;
    height: auto;
    background-color: #ccc;
    border-radius: 50%;
    border: solid 1px;
}

header h1{
    margin: 0;
    padding-left: 5px;
}

.theme{
    width: 90%;
}

/* ---------------NAVIGATION-------------------- */

.navigation{
    display: none;
}

.navigation.show{
    display: block;
    background-color: var(--Secondary-color);
    grid-column: 1/5;
}

.navigation ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--second-bg);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover{
    background-color: grey;    /*AGREGAR UNA VAR()*/
}

.navigation li.current{
    background-color: #c33939;  /*AGREGAR UNA VAR()*/
}

/* ---------------HAMBURGER-------------------- */
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2.4rem;
    color: var(--Text-color);
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 2.4rem;
}

/* ---------------MAIN-------------------- */


/* ---------------FOOTER-------------------- */

footer{
    align-items: center;
    color: var(--Text-color);
    background-color: var(--Primary-color);
}

.info{
    padding-left: 5px;
    padding-top: 1rem;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 8px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #4d4b4b;
    
}

.course{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
