:root{
    --Primary-color: #000A3E;
    --Secondary-color: #00afe5;
    --Background-color: rgb(225, 221, 221);
    --Text-color: white;
    --Font-family: "Zalando Sans", sans-serif;
}

*{
    font-family: var(--Font-family);
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 80%;
	background-color: #fff;
}

#layout-btn{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    padding: 10px;
}

div button{
    font-size: 1.5rem;
    border-radius: 5px;
}

section {
	border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 5px;
	padding: 0.5rem;
	background-color: #ddd;
}

section a {
		font-family: Arial, sans-serif;
		font-size: 0.85rem;
        text-decoration: underline;
        cursor: pointer;
}

/* ----------------COMPORTAMIENTO BOTONES--------- */

.active{
    background-color: var(--Secondary-color);
}


/* ----------------COMPORTAMIENTO GRID--------- */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 8px;
	align-items: center;
}

.grid section {
		text-align: center;
}

.grid img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
}

h3 {
	font-size: 1.2rem;
}

/* ----------------COMPORTAMIENTO LIST--------- */
.list {
	display: flex;
	flex-direction: column;
    row-gap: 1rem;
}
	
.list section {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 0.5fr;
		margin: 0;
		padding: 1rem;
}

.list img {
		display: none;
}

.list h3 {
		font-size: 1rem;
		}

/* .list:nth-child(even) {
		background-color: #bbb;
} */

img {
	width: auto;
	height: 75px;
}