:root {
    --font: "DynaPuff", system-ui;
    --main-bg: #e07a5f;
    --second-bg: #3d405b;
    --font-color: ;
}


*{
    font-family: var(--font);
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 5px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.2rem;
    color: var(--second-bg);
}

h1{
    margin-left: 10px;
    color: var(--second-bg);
}

/* ---------------HAMBURGER-------------------- */
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* ---------------NAVIGATION-------------------- */

.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--second-bg);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover{
    background-color: var(--main-bg);
}

.navigation li.current{
    background-color: #eee;
}

/* ---------------FOOTER-------------------- */

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 8px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
    
}

/* ----------SECTION CERTIFICATES------------- */

.two{
    display: grid;
    border: solid black 1px;
    margin: 10px;
    border-radius: 5px;
    grid-template-rows: auto 1fr;
}

.two div{
    grid-row: 1/2;
    text-align: center;
    background-color: #3d405b;
}

.two h2{
    color: white;
}

section p, section img{
    text-align: center;
    grid-row: 2/3;
}

section img{
    margin: 0 auto;
    padding-top: 1rem;
}

/* ----------SECTION CERTIFICATES------------- */
section h2{
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

div button{
    background-color: var(--main-bg);
    border-radius: 5px;
}
.couses{
    display: flex;
    flex-direction: column;
}
.course-card{
    display: block;
    background-color: var(--main-bg);
    /* border: solid black 1px; */
    padding: 0.5rem;
    margin: 5px;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
}

