@media only screen and (min-width: 608px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    #buttons{
        column-gap: 1rem;
    }

    #courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0.7rem;
    }

    .course-card {
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr;
    }

    h1{
        grid-column: 1/-1;
    }

    #about{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #photo{
        grid-column: 3/4;
    }

    #certificates{
        grid-row: 3/4;
        grid-column: 1/-1;
    }
}