:root{
    --font-family: "Macondo", cursive;
    --background-color: ;
    --backgoround-cards: ;
}

body{
    background-color: #c7bdbd;
}

h1{
    text-align: center;
    font-family: var(--font-family);
    padding: 1.5rem;

}

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 15px 5px 15px 5px rgb(139, 136, 136);
}

.prophet{
    text-align: center;
    border: solid rgb(75, 72, 72) 1px;
    border-radius: 10px;
    background-color: #a39c9c;
    box-shadow: 2px 2px grey;
}