:root{
    --font-family: "Macondo", cursive;
    --background-color: ;
    --backgoround-cards: ;
}

h1{
    text-align: center;
    font-family: var(--font-family);
    border-bottom: solid #ddd 1px;
    background-color: antiquewhite;
    padding: 1.5rem;
    text-decoration: underline;
}

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 20px;
};

.prophet{
    border:solid 1px #ddd;
    background-color: aqua;
}
